html, body {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  body,p,* {
    margin: 0;
    padding: 0;

  }
  a {
    color: #000;
    text-decoration:none;
  }
  a:hover {
    text-decoration: underline;
  }
  a.button {
    text-decoration: none;
    background-color:rgb(245, 239, 239);
    padding: 10px;
  }
  a:active {
  }
  .flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;	
  }
  .row {
    width: auto;
  }
  .flex-item {
    padding: 5px;
    margin: 10px;
    line-height: 20px;
    color: 000;
    text-align: center;
  }
